// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2022 StarFive Technology Co., Ltd.
 * Copyright (C) 2022 Emil Renner Berthing <kernel@esmil.dk>
 */

/dts-v1/;
#include "jh7110-starfive-visionfive-2.dtsi"

/ {
	model = "StarFive VisionFive 2 v1.3B";
	compatible = "starfive,visionfive-2-v1.3b", "starfive,jh7110";

	chosen {
		// bootargs = "earlycon console=ttyS0 loglevel=8 rootwait debug ignore_loglevel quiet kgdbwait kgdboc=ttyS0";
		bootargs = "earlycon console=ttyS0 rootwait debug loglevel=8 ignore_loglevel nosmp";
		// stdout-path = "serial0:115200n8";
	};

  memory@40000000 {
    device_type = "memory";
    // 2 cells each; 2*32 bit make up 64 bit
    // first two are base address, split in upper and lower half
    // second two are size, split in upper and lower half
    reg = <0x00000000 0x40000000 0x00000000 0x80000000>;
  };
};

&gmac0 {
	starfive,tx-use-rgmii-clk;
	assigned-clocks = <&aoncrg JH7110_AONCLK_GMAC0_TX>;
	assigned-clock-parents = <&aoncrg JH7110_AONCLK_GMAC0_RMII_RTX>;
  status = "disabled";
};

&gmac1 {
	starfive,tx-use-rgmii-clk;
	assigned-clocks = <&syscrg JH7110_SYSCLK_GMAC1_TX>;
	assigned-clock-parents = <&syscrg JH7110_SYSCLK_GMAC1_RMII_RTX>;
  status = "disabled";
};

&phy0 {
	motorcomm,tx-clk-adj-enabled;
	motorcomm,tx-clk-100-inverted;
	motorcomm,tx-clk-1000-inverted;
	rx-internal-delay-ps = <1900>;
	tx-internal-delay-ps = <1500>;
  status = "disabled";
};

&phy1 {
	motorcomm,tx-clk-adj-enabled;
	motorcomm,tx-clk-100-inverted;
	rx-internal-delay-ps = <0>;
	tx-internal-delay-ps = <0>;
  status = "disabled";
};
