# SPDX-License-Identifier: GPL-2.0

menu "PLDA PCIe controllers support"
	depends on PCI

config PCIE_PLDA_HOST
	bool
	depends on OF && PCI_MSI
	select IRQ_DOMAIN

config PCIE_PLDA_PLAT_HOST
	bool "PLDA PCIe platform host controller"
	select PCIE_PLDA_HOST
	help
	  Say Y here if you want to support the PLDA PCIe platform controller in
	  host mode. This PCIe controller may be embedded into many different
	  vendors SoCs.

config PCIE_MICROCHIP_HOST
	bool "Microchip AXI PCIe controller"
	select PCI_HOST_COMMON
	select PCIE_PLDA_HOST
	help
	  Say Y here if you want kernel to support the Microchip AXI PCIe
	  Host Bridge driver.

config PCIE_STARFIVE_HOST
	tristate "StarFive PCIe host controller"
	select PCIE_PLDA_HOST
	help
	  Say Y here if you want to support the StarFive PCIe controller
	  in host mode. StarFive PCIe controller uses PLDA PCIe
	  core.

endmenu
